﻿<div class="admin-agent-page">
    <div class="page-header">
        <h3>{{title}}</h3>
    </div>    
    <div class="row">
        <form name="form" novalidate>
            <div class="col-lg-4">
                <div class="form-group" ng-class="{'has-error': form.agentCode.$error.required && hasChanged()}">
                    <label for="agentCode">Agent Code</label>
                    <input id="agentCode" name="agentCode" ng-model="selected.code" class="form-control" placeholder="Agent Code" type="text" required maxlength="4">
                    <div ng-show="form.agentCode.$invalid">
                        <span ng-show="form.agentCode.$error.required && hasChanged()" class="help-block">Agent Code is required</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.agentTitle.$error.required && hasChanged()}">
                    <label for="agentTitle">Agent Title</label>
                    <input id="agentTitle" name="agentTitle" ng-model="selected.title" class="form-control" placeholder="Agent Title" type="text" required maxlength="50">
                    <span ng-show="form.agentTitle.$error.required && hasChanged()" class="help-block">Agent Title is required</span>
                </div>
            </div>
            <div class="form-group col-lg-8">
                <label for="message">Message</label>
                <textarea class="form-control input-lg" id="message" name="message" rows="4"></textarea>
            </div>
            <div class="btn-toolbar col-lg-12">
                <button ng-click="cancelAgent()" ng-disabled="!hasChanged() && !isEdit" class="btn btn-default pull-right" type="button">Cancel</button>
                <button ng-hide="isEdit" ng-disabled="form.$invalid || !hasChanged()" ng-click="addAgent()" class="btn btn-primary pull-right" type="button">Add</button>
                <button ng-show="isEdit" ng-disabled="form.$invalid || !hasChanged()" ng-click="updateAgent()" class="btn btn-primary pull-right" type="button">Update</button>
            </div>
        </form>
    </div>
    <hr />
    <div class="row">        
        <div class="col-lg-12">            
            <form class="form-inline">
                <div class="form-group pull-right">
                    <div class="input-group">
                        <span class="input-group-addon">Search:</span>
                        <input id="searchAgent" class="form-control" ng-model="searchAgent" type="text" placeholder="Search Agent" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="clearSearch()" >x</button>
                        </span>
                    </div>
                    
                </div>
            </form>           
        </div>
    </div>
    <div class="row">
            <div class="col-lg-12">
                <table ng-show="agents.length" class="table table-striped table-responsive">
                    <tr>
                        <th>Agent Code</th>
                        <th>Agent Title</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr ng-repeat="agent in agents | filter:searchAgent">
                        <td class="col-lg-2">{{agent.code}}</td>
                        <td class="col-lg-4">{{agent.title}}</td>
                        <td class="col-lg-1"><a ng-click="editAgent(agent)" href="">Edit</a></td>
                        <td class="col-lg-1"><a confirm-click="Would you like to delete {{agent.title}}?" confirmed-click="deleteAgent(agent)" href="">Delete</a></td>
                    </tr>
                </table>
            </div>
        </div>
</div>