﻿<div ng-animate="'animate'" class="alert alert-{{alert.type}} alert-dismissable ">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="close(alert)">&times;</button>
    <ul ng-repeat="message in alert.messages">
        <li>{{message}}</li>
    </ul>    
    <a ng-show="{{alert.url}}" href="{{alert.url}}" class="alert-link">help</a>
</div>