﻿<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{appName}}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#admin/tickets">Tickets</a></li>
                <li><a href="#admin/batch">Batch</a></li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Setup <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#admin/issuers">Issuers</a></li>
                        <li><a href="#admin/printers">Printers</a></li>
                        <li class="divider"></li>
                        <li><a href="#admin/jobs">Jobs</a></li>
                        <li class="divider"></li>
                        <li><a href="#admin/agents">Agents</a></li>
                        <li><a href="#admin/screens">Screens</a></li>
                        <li class="divider"></li>
                        <li><a href="#admin/users">Users</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#signout">Sign Out</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>