﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Queue Manager</title>       
    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="assets/css/app.css" rel="stylesheet" />
</head>
    <body class="queue-manager">
        <div ng-controller="MenuController" >
            <bootstrap-menu data-menu="" on-select=""></bootstrap-menu>
        </div>
        <div class="container" ng-controller="AlertController" ng-repeat="alert in alerts | filter: {hide: false}">
            <bootstrap-alert ng-model="alert" on-close="hideAlert(alert)"></bootstrap-alert>
        </div>
        <div ng:view ng-controller="SessionController" class="container">
            
        </div>  
   
        <script data-main="assets/js/boot" src="lib/requirejs/require.js"></script>
    </body>
</html>


