﻿<div class="admin-job-page">
    <div class="page-header">
        <h3>{{title}}</h3>
    </div>    
    <div class="row">
        <form name="form" novalidate>
            <div class="col-lg-4">
                <div class="form-group" ng-class="{'has-error': form.jobCode.$error.required && hasChanged()}">
                    <label for="jobCode">Job Code</label>
                    <input id="jobCode" name="jobCode" ng-model="selected.code" class="form-control" placeholder="Job Code" type="text" required maxlength="4">
                    <div ng-show="form.jobCode.$invalid">
                        <span ng-show="form.jobCode.$error.required && hasChanged()" class="help-block">Job Code is required</span>
                    </div>
                </div>
                
                <div class="form-group" ng-class="{'has-error': form.jobTitle.$error.required && hasChanged()}">
                    <label for="jobTitle">Job Title</label>
                    <input id="jobTitle" name="jobTitle" ng-model="selected.title" class="form-control" placeholder="Job Title" type="text" required maxlength="50">
                    <span ng-show="form.jobTitle.$error.required && hasChanged()" class="help-block">Job Title is required</span>
                </div>
            </div>
            <div class="form-group col-lg-8">
                <label for="message">Message</label>
                <textarea class="form-control input-lg" id="message" name="message" rows="4"></textarea>
            </div>
            <div class="btn-toolbar col-lg-12">
                <button ng-click="cancelJob()" ng-disabled="!hasChanged() && !isEdit" class="btn btn-default pull-right" type="button">Cancel</button>
                <button ng-hide="isEdit" ng-disabled="form.$invalid || !hasChanged()" ng-click="addJob()" class="btn btn-primary pull-right" type="button">Add</button>
                <button ng-show="isEdit" ng-disabled="form.$invalid || !hasChanged()" ng-click="updateJob()" class="btn btn-primary pull-right" type="button">Update</button>
            </div>
        </form>
    </div>
    <hr />
    <div class="row">        
        <div class="col-lg-12">            
            <form class="form-inline">
                <div class="form-group pull-right">
                    <div class="input-group">
                        <span class="input-group-addon">Search:</span>
                        <input id="searchJob" class="form-control" ng-model="searchJob" type="text" placeholder="Search Job" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="clearSearch()" >x</button>
                        </span>
                    </div>
                    
                </div>
            </form>           
        </div>
    </div>
    <div class="row">
            <div class="col-lg-12">
                <table ng-show="jobs.length" class="table table-striped table-responsive">
                    <tr>
                        <th>Job Code</th>
                        <th>Job Title</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr ng-repeat="job in jobs | filter:searchJob">
                        <td class="col-lg-2">{{job.code}}</td>
                        <td class="col-lg-4">{{job.title}}</td>
                        <td class="col-lg-1"><a ng-click="editJob(job)" href="">Edit</a></td>
                        <td class="col-lg-1"><a confirm-click="Would you like to delete {{job.title}}?" confirmed-click="deleteJob(job)" href="">Delete</a></td>
                    </tr>
                </table>
            </div>
        </div>
</div>